.tmp.driveupload
.vscode/commands.json
data-clean/front_page_responses.pkl
models/__pycache__/fully_connected.cpython-39.pyc
models/__pycache__/pytorch_helpers.cpython-37.pyc
models/__pycache__/pytorch_helpers.cpython-39.pyc
models/__pycache__/sklearn_helpers.cpython-37.pyc
models/__pycache__/sklearn_helpers.cpython-39.pyc
term-paper/notes_presentation.md
